
/*HOME PAGE*/
.home {
  display: flex;
  color: var(--white-color);
  text-align: center;

  flex-wrap: wrap; /*fica ligado nisso*/
  align-items: center;
  justify-items: center;
}

.home h2 {
  font-size: 6rem;
  margin: 5rem 0;
  line-height: 8rem;
}

.home section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  overflow: hidden;
  display: none;

  align-items: center;
  justify-content: center;
  max-width: 100%
}

.home img {
  width: 60rem;
}

.space {
  height: 4rem;
}

/*INICIAL PAGE */

.aboutContent {
 display: flex;
 flex-wrap: wrap;
 text-align: center;
 
 justify-content: center;
 align-items: center;
 max-width: 80rem;
}

.aboutContent p {
  margin: 2rem 0 0 0;
}

.aboutContent h2 {
  margin-top: 4rem;
}

/* DESTAQUES */
.services {
  color: var(--white-color);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.services h2 {
  margin: 8rem 0 0 0;
}

.description {
  padding-bottom: 10rem;
}

.services h3 {
  font-size: 3.5rem;
}

.services p {
  font-size: 2rem;
  margin: 1rem 0;
}

#gallery {
  color: black;
}
.hamburguerMenu {
  display: none;
}

.galleryImg {
  border-radius: 2.2rem;
  margin: 1rem;
  width: 100%;
  
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}
.galleryImg img {
  transition: 0.3s ease-in-out;
  cursor: pointer;

  filter: grayscale(1);
  
  min-width: 100%;
  min-height: 100%;
}

.galleryImg img:hover {
  transform: translate(1rem, 1rem) rotate(15deg) scale(1.35);
  filter: grayscale(0)
}

/* tabela*/
.responsiveTable {
  overflow: auto;
}

table caption {
  font-size: 1rem;
  font-style: italic;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td,
table th {
  border: 0.1rem solid lightgrey;
  text-align: left;
  padding: 1rem;
  font-size: 1.5rem;
}

tfoot {
  background-color: lightslategray;
}

thead {
  background-color: lightslategray;
}
/* form */
#contato form {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0;
}

#contato form fieldset {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 1rem;
  margin: 0;
}

#contato form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;

  max-width: 100%;
  margin: 1rem 0;
}


#contato form fieldset div input {
  height: 3rem;
  border-radius: 1.2rem;
  
  border: none;
  padding: 1rem;
  width: 100%;
}

#contato form fieldset div textarea {
  width: 100%;
  border-radius: 1.2rem;
  border: none;
  padding: 1rem;
}

#contato form fieldset button {
  height: 3rem;
  width: 8rem;
  border-radius: 2.2rem;
  border: none;
  cursor: pointer;
}

#contato form fieldset button:hover {
  background-color: green;
  color: white;
  box-shadow: 0 0  1rem .5rem purple;
}


#contato {
  border: solid 3px rosybrown;
  display: flex;
  flex-flow: wrap;
}

#contato form fieldset div textarea:focus, #contato form fieldset div input:focus {
  outline: none;
  box-shadow: 0 0 1rem .5rem purple;
}

